body {
    font-family: 'Arial', sans-serif;
}

#portfolio .card {
    transition: transform 0.2s ease-in-out;
}

#portfolio .card:hover {
    transform: scale(1.05);
}

.hero-section {
    background-color: #009ee5;
    padding: 50px 0;
}

.hero-section h1 {
    font-size: 2.5rem;
}

img {
    border: 5px solid white;
}

.hero-section img,
#about img {
    margin-bottom: 20px;
}

#skills .card {
    transition: transform 0.2s ease-in-out;
}

#skills .card:hover {
    transform: scale(1.05);
}

#skills .card-body {
    padding: 20px;
}

#certificates .card {
    transition: transform 0.2s ease-in-out;
}

#certificates .card:hover {
    transform: scale(1.05);
}